# =========================
# SYSTEM
# =========================

*.log
.DS_Store
Thumbs.db

# =========================
# ENV
# =========================

.env
.env.*
!.env.example

# =========================
# IDE / EDITORS
# =========================

.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json

# =========================
# BACKEND (LARAVEL)
# =========================

/backend/vendor

/backend/public/build
/backend/public/hot
/backend/storage/*.key
/backend/storage/framework/*
!/backend/storage/framework/.gitignore
/backend/storage/pail

/backend/Homestead.json
/backend/Homestead.yaml

/backend/.env

# =========================
# FRONTEND (NUXT 4)
# =========================

/frontend/node_modules
/frontend/.nuxt
/frontend/.output
/frontend/.nitro
/frontend/dist
/frontend/.cache
/frontend/.vite
/frontend/.tsbuildinfo

/frontend/.env
/frontend/.env.*

# НЕ НУЖНО В MONOREPO (удалить если есть)
/frontend/.git

# =========================
# ROOT (fallback)
# =========================

node_modules
/backend/public/storage
