# ======================
# APP
# ======================

APP_DEBUG=true
APP_ENV=local
APP_KEY=base64:NIHY4YoV2SVP1TA1pq1Bmp9NztRLWY+LK9xzMppbS2U=
APP_MAINTENANCE_DRIVER=file
APP_NAME="Laravel Test"
APP_URL=http://laravel-nuxt.local
# APP_MAINTENANCE_STORE=database

APP_LOCALE=ru
APP_FAKER_LOCALE=ru_RU
APP_FALLBACK_LOCALE=en

# ======================
# BCRYPT
# ======================

BCRYPT_ROUNDS=12

# ======================
# BROADCAST / QUEUE
# ======================

BROADCAST_CONNECTION=log
QUEUE_CONNECTION=redis

# ======================
# CACHE
# ======================

# CACHE_STORE > CACHE_DRIVER
CACHE_STORE=file
# CACHE_DRIVER=redis OLD

# ======================
# DATABASE
# ======================

DB_CONNECTION=pgsql
DB_DATABASE=laravel
DB_HOST=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_USERNAME=postgres

# ======================
# FILESYSTEM
# ======================

FILESYSTEM_DISK=local
LARAVEL_STORAGE_PATH

# ======================
# LOGGING
# ======================

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
LOG_STACK=single

# ======================
# MAIL
# ======================

MAIL_FROM_ADDRESS="hello@laravel-nuxt.local"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_HOST=127.0.0.1
MAIL_MAILER=log
MAIL_PASSWORD=null
MAIL_PORT=2525
MAIL_SCHEME=null
MAIL_USERNAME=null

# ======================
# MEMCACHED
# ======================

MEMCACHED_HOST=127.0.0.1

# ======================
# REDIS
# ======================

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# ======================
# SESSION
# ======================

SESSION_DOMAIN=laravel-nuxt.local
SESSION_DRIVER=cookie
SESSION_ENCRYPT=false
SESSION_LIFETIME=120
SESSION_PATH=/
SESSION_SECURE_COOKIE=false

SANCTUM_STATEFUL_DOMAINS=laravel-nuxt.local
